<div class="d-flex align-itmes-center gap-3">
    <div class="col-6 me-3">
        <div>
            <h1 class="mb-4 header">Create a Meeting</h1>
            <h2 class="mb-3 subheader">Please fill in this form to create a meeting.</h2>
        </div>
        <hr class="myLine">
        <form>
            <div class="mb-3">
                <label class="formBody" for="name">Client Name</label>
                <br>
                <input class="form-control myCustomFormInput" [(ngModel)]="meeting.clientName" type="text" name="name"
                    id="name" required />
            </div>
            <div class="mb-3">
                <label class="formBody" for="topic">Meeting Topic</label>
                <br>
                <input class="form-control myCustomFormInput" [(ngModel)]="meeting.meetingTopic" type="text"
                    name="topic" id="topic" required />
            </div>
            <div class="mb-3">
                <label class="formBody" for="numberOfPeople">Number of People</label>
                <br>
                <input class="form-control myCustomFormInput" [(ngModel)]="meeting.numberOfPeople" type="text"
                    name="numberOfPeople" id="numberOfPeople" required />
            </div>
            <div class="mb-3">
                <label class="formBody" for="startTime">Start Time</label>
                <br>
                <input class="form-control myCustomFormInput" [(ngModel)]="meeting.startTime" type="datetime-local"
                    name="startTime" id="startTime" required />
            </div>
            <hr class="myLine">
            <button (click)="addMeeting(this.meeting)" type="button" class="button myCustomButton">Add Meeting</button>
        </form>
    </div>

        <div class="col-6 me-3">
            <div>
                <h1 class="mb-4 header">Current Meetings</h1>
                <h2 class="mb-3 subheader">See below for current schedule.</h2>
            </div>
            <hr class="myLine">
            <div *ngFor="let meeting of filteredMeetingsList">
                <div class="meetingTime">
                    <p><strong>Start Time:</strong> {{meeting.startTime | date:'short'}}</p>
                    <div class="meetingDetails">
                        <p><strong>Meeting Topic:</strong> {{meeting.meetingTopic}}</p>
                        <p><strong>Number of People:</strong> {{meeting.numberOfPeople}}</p>
                    </div>

                </div>
        </div>